<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light space">
        <a class="navbar-brand margin bold-title" href="#">DONKEY NEWS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Catégories</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Auteurs</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for article in articles %}
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://external-preview.redd.it/Fu0v8Ity-Tfi4G6xladupNvFakVTTOE4WgFI8dhmX68.jpg?auto=webp&s=64b58b3973b4a183841a252f50a418d9edc0d53b" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> {{ article.title }} </h5>
                            <h6 class="card-title"> {{ article.description }} </h6>
                            <p class="card-text">{{ article.content }}</p>
                            <p class="card-footer"><small class="text-muted">Written by {{ article.author }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    


        
    </body>
</html>
